<section class="company" id="company">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="">
    </div>

    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title-company">Quem somos</h2>
      <div class="description-company">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue congue risus, vel ultrices felis vehicula non.
        </p>

        <p>
          Mauris et orci vehicula, lobortis augue ut, auctor diam.
        </p>
      </div>
    </div>
  </div>
</section>
