<section class="company" id="company">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="">
    </div>

    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title-company">Quem somos</h2>
      <div class="description-company">
        <p>
          A 2LIG  é uma empresa integradora que oferece todas as formas e mecanismos de consultoria e soluções de integração com a plataforma VTEX. 
        </p>

        <p>
          Nossa missão é conectar e suportar o modelo de negócio de nossos clientes com a plataforma de e-commerce de maneira ágil, fluída e transparente.
        </p>

        <p>
          Temos experiência consolidada na atividade de integração. Jonas Bolognim trabalhou na VTEX por 7 anos, sendo 5 deles na área de integração e hoje atua como parceiro com a 2LIG dentro do ecossistema VTEX.
        </p>
      </div>
    </div>
  </div>
</section>
