<section class="company" id="company">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title-company">Quem somos</h2>
      <div class="description-company">
        <p>
          Atuando no mercado de software como serviço a mais de 5 anos a 2LIG é uma empresa especialista em soluções de integração para e-commerce. 
        </p>

        <p>
          Nossa missão é conectar e suportar o modelo de negócio de nossos clientes de e-commerce de maneira ágil, fluida e transparente.
        </p>

        <p>
          Com amplo conhecimento nas plataformas de e-commerce, fluxos de ERP e Marketplace, hoje atua como umas das empresas mais conceituadas no ramo de integração.
        </p>

        <p>
          Transacionamos mais de 1 mlhão pedidos mensais entre vitrine e backoffice com total rastreabilidade. 
          Somos parceiros de Marketplace VTEX, Ricardo Eletro, Marketplace Saraiva, Mercado Livre, B2W, Magazine Luiza, Via Varejo e de plataformas com VTEX, Tray, Fbits, Magento.
          Realizmos integrações customizadas e complexas, em um periodo de tempo ágil para o seu e-commerce.
        </p>

        <p>
          Oferecendo software como serviço, a 2LIG tem por definição a evolução continua de seus produtos baseada nos feedbacks de seus clientes.
        </p>
      </div>
    </div>

    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="{{site.baseurl}}/images/tech.png">
    </div>
  </div>

  <div class="panel-wrapper panel testimonials" id="testimonials"> 
    <ul class="list">
      {% for staff in site.staff %}
        <li>
          <div class="picture hide-mobile show-desktop">
            <img src="{{ staff.picture }}">
          </div>
          <p>{{ staff.content }}</p>
          <div class="author">
            <div class="picture show-mobile hide-desktop">
              <img src="{{ staff.picture }}">
            </div>
            <div class="details">
              <p class="name">{{ staff.name }}</p>
              <p class="bio">{{ staff.bio }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
