<section class="panel panel-marketplace" id="consulting">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title">Consultoria</h2>
      <div class="panel-description">
        <p>
          Oferecemos exemplos de entidades e fluxos de diversos modelos de integrações para serem seguidos.
        </p>

        <p>
          Ajudamos a projetar integrações próprias para atender todas e quaisquer regras e particularidades do seu negócio.
        </p>

        <p>
          Solucionamos problemas inesperados de integrações. Além de, realizarmos consultorias para recebimento de pagamentos customizados através do gateway VTEX.
        </p>
      </div>
    </div>

    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="{{site.baseurl}}/images/consulting.png">
    </div>
  </div>
</section>
