<section class="panel panel-contact" id="contact">
  <div class="panel-wrapper panel-flex">
    <div class="panel-half">
      <h2 class="title">Entre em contato</h2>
      <form id="contact">
        <p>
          <input id="contact-name" class="input-style" type="text" placeholder="Nome" required>
        </p>
        <p>
          <input id="contact-email" class="input-style" type="email" placeholder="Email" required>
        </p>
        <p>
          <input id="contact-tel" class="input-style" type="text" placeholder="Telefone" required>
        </p>
        <p class="freeform">
          <textarea id="contact-message" class="input-style message" placeholder="Mensagem" required></textarea>
        </p>
        <p class="success-alert" id="alert">
          Sua mensagem foi enviada com sucesso! <br />
          Em breve entraremos em contato
        </p>
        <p class="submit">
          <button class="button submit-button" id="submit-button">Enviar</button>
          <div class="g-recaptcha" data-sitekey="6LeOJLEdAAAAACEIZZtRtoUF3WZCbK7CFxjfJhxE"></div>
        </p>
      </form>
    </div>
    <div class="hide-desktop other-contact">OU</div>
    <div class="panel-half icons-panel">
      <div class="cellphone">
        <p class="action">Ligue para</p>
        <div class="detail">
          <img class="contact-icon" src="{{site.baseurl}}/assets/cellphone-with-one-button.svg" />
          <p class="contact-text">{{ site.tel }}</p>
        </div>
      </div>
      <div class="email">
        <p class="action">Envie um email</p>
        <div class="detail">
          <img class="contact-icon" src="{{site.baseurl}}/assets/close-envelope.svg" />
          <p class="contact-text">{{ site.email }}</p>
        </div>
      </div>
      <div class="skype">
        <p class="action">Ligue no Skype</p>
        <div class="detail">
          <img class="contact-icon" src="{{site.baseurl}}/assets/skype-logo.svg" />
          <p class="contact-text">{{ site.skype }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
