<section class="panel panel-contact" id="contact">

      <h2 class="title">Entre em contato</h2>
      <form id="contact">
        <p>
          <label>Nome</label>
          <input class="input-style" type="text">
        </p>
        <p>
          <label>Email</label>
          <input class="input-style" type="email">
        </p>
        <p>
          <label>Telefone(opcional)</label>
          <input class="input-style" type="text">
        </p>
        <p class="freeform">
          <label>Mensagem</label>
          <textarea class="input-style"></textarea>
        </p>
        <p class="submit">
          <button class="button default"><span>Enviar</span></button>
        </p>
      </form>
</section>
