<section class="panel panel-erp" id="erp">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-right"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title">Integração com ERP</h2>
      <div class="panel-description">
        <p>
          A 2 Lig é especialista em ERPs, como Ábacus e Bseller. Também realizamos novas integrações com a plataforma VTEX.
        </p>

        <p>
          Integrando com sistemas ERPs, você centraliza todos os dados e processos dos pedidos em apenas um sistema.
        </p>

        <p>
          Você também pode adquirir treinamentos sobre as costumizações e monitoramento dos fluxos de integração.
        </p>
      </div>
    </div>

    <div
      data-aos="fade-left"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="{{site.baseurl}}/images/erp.jpg">
    </div>
  </div>
</section>
