<section class="headline">
  <h1 class="headline-title">Conectamos seu ERP, Estoque, Serviços de Logistica, Notas Fiscais e outros fluxos com sua plataforma de e-commerce.</h1> 
  <a href="#contact" class="headline-button anchor">Serviços de integração especializados para o seu e-commerce. Entre em contato</a>
  <!-- <a href="#contact" class="headline-button anchor">Entre em contato</a> -->
 <!--  <img class="headline-circle-background-small" src="{{site.baseurl}}/assets/big-circle.svg" />
  <img class="headline-circle-background-medium" src="{{site.baseurl}}/assets/normal-circle.svg" />
  <img class="headline-circle-background-large" src="{{site.baseurl}}/assets/small-circle.svg" /> -->
</section>
