
<head>
    <meta name='description' content='{{ site.meta.description }}'>
</head>

<section class="headline">
  <h1 class="headline-title">2LIG - Tecnologia da informação para e-commerce.</h1> 
  <a href="#contact" class="headline-button anchor">Serviços de integração e customizados</a><br>	
  <a href="#contact" class="headline-button anchor">Entre em contato</a>
  <img class="headline-circle-background-small" src="{{site.baseurl}}/assets/big-circle.svg" />
  <img class="headline-circle-background-medium" src="{{site.baseurl}}/assets/normal-circle.svg" />
  <img class="headline-circle-background-large" src="{{site.baseurl}}/assets/small-circle.svg" />
</section>
