<section class="headline">
  <h1 class="headline-title">Tecnologia da informação para e-commerce.</h1>
  <h2 class="headline">Serviços prontos e customizados para otimizar o seu negócio.</h2>
  <a href="#contact" class="headline-button anchor">Entre em contato</a>
  <img class="headline-circle-background-small" src="{{site.baseurl}}/assets/big-circle.svg" />
  <img class="headline-circle-background-medium" src="{{site.baseurl}}/assets/normal-circle.svg" />
  <img class="headline-circle-background-large" src="{{site.baseurl}}/assets/small-circle.svg" />
</section>
