<section class="panel panel-marketplace" id="marketplace">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="{{site.baseurl}}/images/marketplace.png">
    </div>

    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title">Integração com Marketplace</h2>
      <div class="panel-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue congue risus, vel ultrices felis vehicula non. 
        </p>

        <p>
          Maecenas aliquet urna nulla, quis molestie neque scelerisque eu. 
        </p>
      </div>
    </div>
  </div>
</section>