<section class="panel panel-marketplace" id="marketplace">
  <div class="panel-wrapper panel-flex">
    <div
      data-aos="fade-left"
      data-aos-easing="ease-in"
      data-aos-duration="600"
      class="panel-half"
    >
      <h2 class="title">Integração com Marketplace</h2>
      <div class="panel-description">
        <p>
          Disponibilize seus produtos em outros canais de venda e aproveite-se das grandes vitrines do mercado.

        <p>
         Aumente suas vendas com o grande volume de visualizações nos e-commerces mais acessados do Brasil.
        </p>
      </div>
    </div>

    <div
      data-aos="fade-right"
      data-aos-easing="ease-in-quart"
      data-aos-duration="600"
      class="panel-half panel-image"
    >
      <img src="{{site.baseurl}}/images/marketplace.png">
    </div>
  </div>
</section>
