<section class="panel testimonials" id="testimonials">
  <div class="panel-wrapper">
    <h2 class="title">Depoimentos</h2>
    <ul class="list">
      {% for testimonial in site.data.testimonials %}
        <li>
          <div class="picture hide-mobile show-desktop">
            <img src="{{ testimonial.picture }}">
          </div>
          <p>"{{ testimonial.text }}"</p>
          <div class="author">
            <div class="picture show-mobile hide-desktop">
              <img src="{{ testimonial.picture }}">
            </div>
            <div class="details">
              <p class="name">{{ testimonial.name }}</p>
              <p class="bio">{{ testimonial.bio }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>