<section class="panel testimonials">
  <div class="panel-wrapper">
    <h2 class="title">Depoimentos</h2>
    <ul class="list">
      {% for testimonial in site.data.testimonials %}
        <li
          data-aos="fade-up"
          data-aos-easing="ease-in-out-back"
          data-aos-offset="0"
          data-aos-duration="800"
          data-aos-delay="{{ forloop.index | plus: 1 | times: 100 }}"
        >
          <div class="picture hide-mobile">
            <img src="{{ testimonial.picture }}">
          </div>
          <p>"{{ testimonial.text }}"</p>
          <div class="author">
            <div class="picture show-mobile">
              <img src="{{ testimonial.picture }}">
            </div>
            <div class="details">
              <p class="name">{{ testimonial.name }}</p>
              <p class="bio">{{ testimonial.bio }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>