.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.stick {
  position: fixed;
  background: $brand-color;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  animation: 0.3s slideOut;

  & .logo {
    display: none;
  }

  & .navigation {
    margin: 0 auto;
  }

  & .header-wrapper {
    padding: 0;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(-5.6rem);
  }

  to {
    transform: translateY(0);
  }
}

.header-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: center;
  max-width: $max-width;
  width: 100%;
  position: relative;
  padding: 1.4rem 0;
}

.logo {
  max-width: 7rem;
  width: 100%;
}

.navigation {
  margin: 0 0 0 auto;
  font-size: 1.8rem;

  li {
    list-style: none;
    display: inline-block;
  }

  a {
    color: white;
    padding: 1.4rem;
    margin: 0 0.4rem;
    border: 0.2rem solid transparent;
    text-decoration: none;
    transition: border-bottom-color 0.2s ease-in;

    &:hover {
      border-bottom-color: $white;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .logo {
    margin: 3rem;
  }

  .header-wrapper {
    justify-content: space-between;
  }

  .navigation {
    z-index: 4;
    width: 100%;
    height: 100%;
    background: $brand-color;
    transform: translate(100%);
    top: 0;
    right: 0;
    position: fixed;
    padding: 8rem 0;
    transition: transform 0.2s ease-in;

    li {
      display: block;
      font-size: 2.4rem;

      &:last-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      padding: 2rem 0;
    }
  }

  .navigation.opened {
    transform: translate(0);
  }
}