.headline {
  background: #2f5c82;
  background: linear-gradient(to bottom, #2F5C82 0%, #5A3D8F 100%);
  color: $white;
  overflow: hidden;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.headline-title {
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  font-size: 4.5rem;
  max-width: 67rem;
  width: 100%;
  margin: 19rem auto 4rem;
}

.headline-button {
  @extend .button-inverse;
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 auto 19rem;
}

.headline-circle-background {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 5%;
  top: -30%;
}

.headline-circle-background-large {
  @extend .headline-circle-background;
  animation: rotating 50s linear infinite;
}

.headline-circle-background-medium {
  @extend .headline-circle-background;
  animation: rotating 30s linear infinite reverse;
}

.headline-circle-background-small {
  @extend .headline-circle-background;
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: $mobile-width) {
  .headline {
    text-align: left;
  }

  .headline-title {
    font-size: 3.2rem;
    padding: 0 3rem;
  }

  .headline-button {
    margin-left: 3rem;
    font-size: 1.4rem;
  }

  .headline-circle-background {
    position: absolute;
    z-index: 2;
    width: auto;
    height: 130%;
    left: -70%;
    top: -30%;
  }
}

@media screen and (min-width: $max-width) {
  .headline-circle-background {
    width: $max-width;
    left: 50%;
    margin-left: -60rem;
  }
}