html {
  font-size: $base-size;
}

body {
  font-family: $font-family;
  font-size: $text-size;
}

.button-inverse {
  background: none;
  color: $white;
  border: 0.1rem solid $white;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1.4rem 1.8rem;
  display: inline-block;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $brand-color;
  }
}

.title {
  font-size: 4.6rem;
  color: $brand-color;
  font-weight: bold;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.header-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: center;
  max-width: $max-width;
  width: 100%;
  position: relative;
  padding: 1.4rem 0;
}

.logo {
  max-width: 7rem;
  width: 100%;
}

.navigation {
  margin: 0 0 0 auto;
  font-size: 1.8rem;

  li {
    list-style: none;
    display: inline-block;

    &:last-child {
      margin-left: 1.8rem;
    }
  }

  a {
    color: white;
    padding: 1.4rem;
    margin: 0 0.4rem;
    border: 0.2rem solid transparent;
    text-decoration: none;
    transition: border-bottom-color 0.2s ease-in;

    &:hover {
      border-bottom-color: $white;
    }
  }
}

.headline {
  background: #2f5c82;
  background: linear-gradient(to bottom, #2F5C82 0%, #5A3D8F 100%);
  color: $white;
  overflow: hidden;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.headline-title {
  position: relative;
  z-index: 3;
  font-size: 4.5rem;
  max-width: 67rem;
  width: 100%;
  margin: 19rem auto 4rem;
}

.headline-button {
  @extend .button-inverse;
  position: relative;
  z-index: 3;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 auto 19rem;
}

.headline-circle-background {
  position: absolute;
  z-index: 2;
  width: 90%;
  left: 5%;
  top: -30%;
}

.headline-circle-background-large {
  @extend .headline-circle-background;
  animation: rotating 50s linear infinite;
}

.headline-circle-background-medium {
  @extend .headline-circle-background;
  animation: rotating 30s linear infinite reverse;
}

.headline-circle-background-small {
  @extend .headline-circle-background;
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: $max-width) {
  .headline-circle-background {
    width: $max-width;
    left: 50%;
    margin-left: -60rem;
  }
}

.panel {
  padding: 10rem 0;

  &:nth-child(odd) {
    background: lighten($brand-color, 57%);
  }
}

.panel-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
}

.panel-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-half {
  box-sizing: border-box;
  width: 50%;
}

.panel-image {
  text-align: center;
  padding: 4rem;

  img {
    max-width: 100%;
  }
}

.panel-description {
  font-size: 2.4rem;
  color: $text-color;
}

.testimonials {
  .title {
    text-align: center;
  }

  .list {
    display: flex;
    list-style: none;
    margin: 6.5rem 0 0;
    width: 100%;

    li {
      width: 33%;
      padding-right: 6rem;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0;
      }
    }
      
    .picture {
      text-align: center;
    }

    img {
      max-width: 25rem;
      width: 100%;
      display: inline-block;
      margin: 0 auto 3rem;
    }

    .author {
      color: $brand-color;

      p {
        margin: 0;
      }

      .name {
        font-weight: bold;
      }
    }
  }
}
