html {
  font-size: $base-size;
}

body {
  font-family: $font-family;
  font-size: $text-size;
}

.button-inverse {
  background: none;
  color: $white;
  border: 0.1rem solid $white;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1.4rem 1.8rem;
  display: inline-block;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $brand-color;
  }
}

.title {
  font-size: 4.6rem;
  color: $brand-color;
  font-weight: bold;
  width: 100%;
}

@media screen and (min-width: $mobile-width) {
  .show-desktop {
    display: block !important;
  }

  .hide-desktop {
    display: none !important;
  }
}


@media screen and (max-width: $mobile-width) {
  .button-inverse {
    font-size: 1.6rem;
    padding: 1rem 1.4rem;
  }

  .title {
    font-size: 3.4rem;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }
}
