.testimonials {
  .panel-wrapper {
    position: relative;
  }

  .title {
    text-align: center;
  }

  [data-tns-role="controls"] {
    button {
      background: url('../assets/chevron.svg');
      background-size: cover;
      width: 6rem;
      height: 6rem;
      font-size: 0;
      position: absolute;
      top: 50%;
      right: -2rem;
      margin-top: -1.5rem;
      z-index: 99;

      &:focus {
        box-shadow: none;
        outline: 0;
      }

      &:first-child {
        transform: rotate(180deg);
        right: auto;
        left: -2rem;
      }
    }
  }

  .list {
    list-style: none;
    margin: 6.5rem 0 0;
    width: 100%;

    li {
      display: inline-block;
      width: 33%;
      padding-right: 6rem;
      box-sizing: border-box;

      &:last-child {
        padding-right: 0;
      }
    }
      
    .picture {
      text-align: center;
    }

    img {
      max-width: 10rem;
      max-height: 10rem;
      border-radius: 50%;
      width: 100%;
      display: inline-block;
      margin: 0 auto 3rem;
    }

    .author {
      color: $brand-color;

      p {
        margin: 0;
      }

      .name {
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .testimonials {
    padding: 3.5rem 3rem;

    .title {
      text-align: left;
    }

    .author {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .picture {
      width: 25%;
    }

    .details {
      width: 75%;
      padding-left: 2rem;
      box-sizing: border-box;
    }

    .list {
      display: block;
      padding: 0;

      img {
        margin-bottom: 0;
      }

      li {
        width: 100%;
        padding: 0;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        border-bottom: 0.1rem solid lighten($brand-color, 57%);
      }
    }
  }
}