$font-family: 'Nunito', sans-serif;

$base-size: 10px;

$title-size: 3.2rem;
$subtitle-size: 2.2rem;
$text-size: 1.6rem;

$brand-color: #573F8E;
$secondary-color: #2F5C82;
$text-color: #1C1C1C;
$white: #FFF;

$panel-space: 10rem;

$max-width: 120rem;