---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/aos.css">
</head>
<body>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  <script src="{{site.baseurl}}/js/aos.js"></script>
  <script src="{{site.baseurl}}/js/burger.js"></script>
  <script src="{{site.baseurl}}/js/nav.js"></script>
  <script>
    var _width = window.outerWidth || window.innerWidth;
    AOS.init({
      disable: _width < 600,
      once: true
    });
  </script>
  {% include analytics.html %}
</body>
</html>
