---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <meta name='description' content='{{ site.description }}'>
  <meta name='keywords' content='{{ site.keywords }}'>
  
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/aos.css">
  <link rel="stylesheet" href="{{site.baseurl}}/libs/tiny-slider/tiny-slider.css">
</head>
<body>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  <script type="text/javascript">
    var BASE_EMAIL = "{{ site.email }}";
  </script>
  <script defer src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
  <script src="{{site.baseurl}}/js/form.js"></script>
  <script src="{{site.baseurl}}/js/aos.js"></script>
  <script src="{{site.baseurl}}/js/burger.js"></script>
  <script src="{{site.baseurl}}/js/nav.js"></script>
  <script src="{{site.baseurl}}/js/smoothScroll.js"></script>
  <script src="{{site.baseurl}}/libs/tiny-slider/tiny-slider.js"></script>
  <script>
    var _width = window.outerWidth || window.innerWidth;
    AOS.init({
      disable: _width < 600,
      once: true
    });
  </script>

  <script>
    function getWidth() {
      if (self.innerWidth) {
        return self.innerWidth;
      }

      if (document.documentElement && document.documentElement.clientWidth) {
        return document.documentElement.clientWidth;
      }

      if (document.body) {
        return document.body.clientWidth;
      }
    }

    var list = document.querySelectorAll('.testimonials .list li');

    if (list.length > 3 && getWidth() > 480) {
      gn.ready(function () {
        var slider = tns({
          container: document.querySelector('#testimonials .list'),
          items: 3,
          slideBy: 'page',
          speed: 600,
          autoplay: false
        });
      });
    }
  </script>
  {% include analytics.html %}
</body>
</html>
